<%- include('../partials/head'); %>
<%- include('../partials/menus'); %>

    <!-- Header -->
    <header id="header" class="header">

        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <h1 class="h1-large lead">Online Assignment Assistance</h1>
                        <p class="p-large lead">Get Professional Essays from top acadamic writers</p>
                        
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7">
                    <div class="image-container">
                        <img class="img-fluid" src="images/header.png" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            
        </div> <!-- end of container -->
        <!-- small rows starts here -->
        <div class="container-fluid bg-3 text-center">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="lead">Get the best acadamic paper writting services from the form 
                        our best proffessional acadamic Writers</h3>
                        <br><br><br>
                        <h3 class="lead">First Acadamic writting services form our proffecial writers</h3>
                        <br><br>
                        <!--testimonials-->
                        <div class="col-sm-4">
                            
                           <%- include('../partials/stars'); %>
                           <p class="lead">put some testimonials here</p>
                           </div>
                        <!--testimonials-->
                        <div class="">
                            <a href="#" class="btn btn-info">Place Order</a>
                          </div>
                </div>
                <div class="col-sm-6">
                    <h2>Calculate Your Essay Price</h2>
                    <div class="mb-3">
                        <label for="eassay_type">Type of Essay</label>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Essay(any type)</option>
                            <option value="1">Admission Essay</option>
                            <option value="2">Analysis</option>
                            <option value="3">Analysis Any Type</option>
                            <option selected>Annotated Bibiography</option>
                            <option value="1">Argumentive Essay</option>
                            <option value="2">Article Review</option>
                            <option value="3">Assignment</option>
                            <option selected>Blog Post</option>
                            <option value="1">Movie/Book review</option>
                            <option value="2">Business Plan</option>
                            <option value="3">Capstone Project</option>
                            <option selected>Case Study</option>
                            <option value="1">CourseWork</option>
                            <option value="2">Cover Letter</option>
                            <option value="3">Creative writting</option>
                            <option selected>Discussion Essay</option>
                            <option value="1">Dissertation</option>
                            <option value="2">Exam</option>
                            <option value="3">French</option>
                            <option selected>Journal Article</option>
                            <option value="1">Lab Report</option>
                            <option value="2">Litrature Review </option>
                            <option value="3">Memo/Letter</option>
                            <option selected>Thesis</option>
                            <option value="1">Speech</option>
                            <option value="2">Team Paper</option>
                            <option value="3">Others</option>
                          </select>
                          <label for="level">Acadamic Level</label>
                          <select class="form-select" aria-label="Default select example">
                            <option selected>Undergrad. (yrs 1-2)</option>
                            <option value="1">Undergrad. (yrs 3-4)</option>
                            <option value="2">Master's</option>
                            <option value="3">PhD</option>
                          </select>
                          <label for="deadline">Deadline</label>
                          <select class="form-select" aria-label="Default select example">
                            <option selected>+30 days</option>
                            <option value="1">21 Days</option>
                            <option value="2">14 Days</option>
                            <option value="3">7 Days</option>
                            <option selected>5 days</option>
                            <option value="1">3 Days</option>
                            <option value="2">48 Hours</option>
                            <option value="3">24 Hours</option>
                            <option selected>8 Hours</option>
                            <option value="1">6 Hours</option>
                            <option value="2">3 Hours</option>
                            <option value="3">2 Hours</option>
                          </select>
                      </div>
                      <div class="mb-2">
                        <label for="pages" class="form-label">Pages</label>
                        <input type="text" class="form-control" id="pages" placeholder="number of pages">
                      </div>
                      <div class="">
                        <a href="#" class="btn btn-primary">Total Price: $</a>
                      </div>
                      <br><br>
                      <div class="">
                        <a href="#" class="btn btn-primary">Order Now</a>
                      </div>
                      <br><br>
                </div>
            </div>
          </div>
        <!-- ends here-->
    </header> <!-- end of header -->
    <!-- end of header -->
    <!--STARTS HERE-->
    <div class="container-fluid bg-3 text-center">
        <div class="row">
            <div class="col-sm-6">
                 <img class="img-fluid" src="images/introduction.jpg" alt="alternative">
            </div>
            <div class="col-sm-6">
                <h3 class="lead">The Best Acadamic writers</h3>
                <p class="lead">Our worldwide team of writers includes native English speakers
                     knowledgeable in numerous 
                subjects, meaning we can help you no matter what your 
                assignment consists of. </p>
                <div class="d-flex action">
                    <a href="#" class="btn btn-info">Read More</a>
                  </div>
            </div>
        </div>
    </div>
      <!--ENDS HERE-->
    <!-- Introduction -->
   <br><br><br>
    <div class="container-fluid bg-3 text-center">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="lead">Money Refund Guarantee</h3>
                <p class="lead">If your are not satisfied at an point we offer 100% money back Guarantee </p>
                <div class="d-flex action">
                    <a href="#" class="btn btn-info">Read More</a>
                  </div>
            </div>
            <div class="col-sm-6">
                 <img class="img-fluid" src="images/refund.jpg" alt="alternative">
            </div>
        </div>
    </div>
    <!-- end of basic-1 -->
    <!-- end of introduction -->
    <div class="container-fluid bg-3 text-center">
        <div class="row">
            <div class="col-sm-6">
                <img class="img-fluid" src="images/plag.png" alt="alternative">
           </div>
            <div class="col-sm-6">
                <h3 class="lead">100% PLAGIARISM-FREE</h3>
                <p class="lead">Our writers don’t plagiarize or reuse papers. They write everything from scratch according to your instructions. Their work is also checked for plagiarism before we send it to you. </p>
                <div class="d-flex action">
                    <a href="#" class="btn btn-info">Read More</a>
                  </div>
            </div>
            
        </div>
    </div>
    <div class="flex-container">
        <h1 class="lead">PROFESSIONAL ESSAY WRITING SERVICE FOR EVERYONE</h1>
        <!-- cols -->
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <h2 class="lead">Customer writting Services</h2>
            <p class="lead">We provide professional custom writing services online at any subjects and academic level. If you are looking for writing help online, then check out here.</p>
            <a href="#">Custom writing services for everyone&#8594; </a>  
        </div>
          <div class="col-sm">
            <h2 class="lead">Dissertation Writting Services</h2>
            <p class="lead">Our dissertation services team offers tailored dissertation help absolutely plagiarism free. Get dissertation help from professional academic writers.</p>
              <a href="#">Dissertation writing services &#8594;</a>  
        </div>
          <div class="col-sm">
            <h2 class="lead">Law Services</h2>
            <p class="lead">Top quality law writing service at affordable price! Buy law papers from our qualified professional academic writers!</p>
            <a href="#">Law Services &#8594; </a>  
        </div>
        </div>
      </div>

    </div>
    <!-- cols -->
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <iframe width="420" height="315"
               src="https://www.youtube.com/embed/tgbNymZ7vqY">
</iframe>
        </div>
          <div class="col-sm">
            <h2 class="lead">Wodering how to order an essay ?</h2>
            <p class="lead">Please watch this video. We give a step by step walkthrough on how to place an order with us.</p>
        </div>
        </div>
      </div>
      <!-- customer -->
      <div class="flex-container-1">
          <h1 class="lead">WHY WE’RE THE BEST CUSTOM WRITING SERVICE</h1>
        <div class="row">
            <div class="col"><h3 class="lead">ORIGINAL, CUSTOM PAPERS</h3>
            <p class="lead">All our papers are composed by experienced writers according to your exact instructions, meaning they are plagiarism-free. Our staff of writers includes native English speakers from the U.S., U.K., Canada, and Australia, meaning we can find the best writer for your particular assignment.</p>
            </div>
            <div class="col"><h3 class="lead">NO REUSED ESSAYS</h3>
             <p class="lead">We compose all essays from scratch and do not reuse content or resell papers. When you order from us, you will get a 100 percent original work. We also check each paper for plagiarism before giving it to you to ensure that you get the best possible product.</p>
            </div>
            <div class="col"><h3 class="lead">SPEEDY DELIVERY FOR EMERGENCY ORDERS</h3>
            <p class="lead">If you have a tight deadline, our writers can deliver. Our staff prides themselves on delivering all papers on time and on deadlines as tight as eight hours, letting you breathe easy and quit worrying</p>
            </div>
            <div class="col"><h3 class="lead">QUALITY WRITING HELP IN ANY FORMAT</h3>
            <p class="lead">Have difficulties with citing sources? Our writers are an old hand at proper referencing and can easily cope with MLA / APA / Harvard / Chicago / Turabian or any other formatting style.</p>
            </div>
          </div>
      </div>
    
      <div class="container-fluid bg-3 text-center">
          <h1 class="lead">WE WORK HARD TO GIVE YOU THE BEST PAPERS
            AND ENSURE YOUR SATISFACTION</h1>
        <div class="row">
            <div class="col-sm-4">
             <img src="/images/dolar.jpg" />
             <p class="lead">We offer flexible pricing and installment pricing
                for big orders. Returning customers are
                eligible for discounts.</p>
            </div>
            <div class="col-sm-4">
             <img src="/images/work.png" />
             <p class="lead">Stay on top of your order’s progress with 24/7
                customer support as well as contact with your
                assigned writer.
                
                </p>
            </div>
            <div class="col-sm-4">
             <img src="/images/rating.jpg" />
             <p class="lead">With over a decade of experience in the industry,
                we know how to craft great papers and
                satisfy our customers.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img src="/images/visual.png" />
                <p class="lead">Need a more visual paper? Our writers
                    know how to make charts and
                    PowerPoint presentations.</p>
               </div>
               <div class="col-sm-4">
                <img src="/images/proofreading.jpg" />
                <p class="lead">All papers come with expert
                    proofreading to ensure they’re the best
                    they can be.</p>
               </div>
               <div class="col-sm-4">
                <img src="/images/revison.png" />
                <p class="lead">Need a change after your paper is
                    finished? Enjoy unlimited free revisions up to
                    seven days afterwards.</p>
               </div>
        </div>
    </div>
    </div>
    <!-- security -->
    <div class="container-fluid bg-3 text-center">
        <div class="row">
            <div class="col-sm-6">
                <h3 class="lead">YOUR SECURITY IS PARAMOUNT TO US!</h3>
                <p class="lead">Our website takes all precautions necessary to protect your privacy. We do not give your data or credentials to anyone. We understand the importance of online anonymity and will do our best to defend yours when you take advantage of our services.</p>
            </div>
            <div class="col-sm-6">
                <img class="img-fluid" src="images/security.jpg" alt="alternative">
           </div>
        </div>
    </div>
     <%- include('../partials/free_writing_tools') %>
    </div>
         
        <%- include('../partials/footer'); %>
    <script src="../../public/js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="../../public/js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="../../public/js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="../../public/js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="../../public/js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->
    <script src="../../public/js/scripts.js"></script> <!-- Custom scripts -->
</body>
</html>